<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-container">
            {{>header}}
            <p>404! page not found!</p>
        </div>

        {{>footer}}
    </body>
</html>