<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-container">
        {{>header}}
        <img class="protrait" src="/img/image.png" alt="">
        </div>

        {{>footer}}
    </body>
</html>